$primary: #AE2C1E; //h1
$secondary: #F89225; //h2
$third: #2364AA; //h3
$third-alt: #3DA5D9;
$fourth: #73BFB8;
$text-color: #000;


$title-font: 'Merriweather', serif;
$text-font: 'Varela Round', sans-serif;