@use "partials/heros";
@use "partials/variables";
@use 'partials/footer';
@use 'partials/menu';





//MIXINS 

@mixin h1 {
    font-family: variables.$title-font;
    font-weight: 900;
    font-size: 42px;
}
@mixin h2 {
    font-family: variables.$title-font;  
    font-weight: 700;  
    font-size: 30px;
}
@mixin h3 {
    font-family: variables.$title-font; 
    font-weight: 400;
    font-size: 18px;   
}

@mixin buttons {
    border-radius: 50px;
    border-style: none;
    padding: 10px 70px;
    font-size: 20px;
    border-radius: 50px;
    border-style: none;
    box-shadow: -2px 5px 10px rgba(50, 50, 50, 0.4);
    white-space: nowrap;
    
    &:hover {
        transform: scale(1.1);
        transition: 0.25s ease;
    }
}

//VARIABLES

$max-mobile : 767px; 
$min-tablet:768px;
$max-tablet:1999px;
$min-computer: 1200px;


body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: variables.$primary;
}


// MENU

.menu {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 200px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: variables.$text-font;
    font-size: 19px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        max-width: 2000px;
    }

    &__hamburger {
        width: 80%;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        justify-content: space-between;
        align-items: center;
        margin: 0 0%;
        z-index: 3;
    }  

    &__logo {
        width: 15%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        z-index: 6;
        margin: 0 5%;

        picture img {
            position: relative;
            width: 100%;
        }
    }

    &__options {
        width: 60%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 70px;
        
        align-items: center;

        z-index: 3;  
        
        &__nouvelles {
        @include menu.options;
        }
        &__services {
        @include menu.options;
        }

        &__equipe {
            @include menu.options;
        }

        &__a_propos {
            @include menu.options;
        }
        
        &__histoire {
            @include menu.options;
        }
    }

    

    &__don {

        width: 10%;
        display: flex;
        justify-content: center;
        margin: 0px 50px;

        button {
            white-space: nowrap;
            @include h3;
            padding: 10px 70px;
            font-size: 20px;
            border-radius: 50px;
            border-style: none;
            background-color: variables.$primary;
            color: white;
            box-shadow: -2px 5px 9px rgba(50, 50, 50, 0.4) ;
        }

        &:hover {
            transform: scale(1.1);
            transition: 0.25s ease;
        }
    }

    &__lang {
        @include h2;
        width: 50px;
        margin: 0px 50px;
        color: variables.$primary;
        text-align: center;
        font-size: 25px;
    }

    

    &__icon {
        display: none!important;
        cursor: pointer;
        display: inline-block;
        float: right;
        position: relative;
        user-select: none;
        z-index: 6;

        .navicon {
            display: none!important;
            background: variables.$primary;
            display: block;
            height: 5px;
            position: relative;
            width: 50px;
            border-radius: 50px;

            &:before, &:after {
                background: inherit;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                width: 100%;
                border-radius: 50px;
            }

            &:before {
                top: 15px;
            }

            &:after {
                top: -15px;
            }
        }
    }



}


// MEDIA QUERIES


    //---CELLULAIRE
    @media screen and(max-width: $max-mobile) {

        @include menu.menu-hamburger;
        @include footer.footer-sm;

        .menu {
            &__logo {
                height: 100%;
                min-width: 100px;
            }
        }

        .acc__heros {
            justify-content: center!important;
            flex-direction: column!important;
            margin-top: 0!important;
            padding-top: 250px;

            &__slide {
                flex-direction: column!important;
                align-items: center!important;
                justify-content: center!important;
            }


            &__description {
                max-width: 500px!important;
                justify-content: center!important;
                display: flex;
                margin-top: 5%;
                width:100%!important;
                text-align:center;
                align-items: center!important;
                
                
                &__title {
                    font-size: 20px!important;
                }

                &__button {
                    justify-content:center!important;
                    display: flex!important;

                    button {
                        font-size: 20px!important;
                    }

                }
            }
            &__image {
                order: -1;
                width: 100%!important;
                
                img {
                    width: 250px!important;
                }
            }
        }
        
    }

    //---TABLETTE
    @media screen and(min-width: $min-tablet) and (max-width: $min-computer) {

        @include menu.menu-hamburger;
        @include footer.footer-md;

        .menu {           
            &__logo {
                width: 20%;
                min-width: 220px;
            }
        }

        .acc__heros {

            &__description {
                padding-left: 15%!important;
                padding-right: 2%!important;
                
                &__title {
                font-size: 25px!important;
                }             

                button {
                    font-size: 20px!important;
                }
                    
            }

            

            &__image {
                padding-right: 10%!important;
                padding-left: 2%!important;

            }
        }

        
    }


// HEROS

.acc__heros {
    display: block;
    height: 150vh;
    padding-top:100px;
    position: relative;
    background-image: url('images/degrade.png');
    background-size: cover;
    background-position: 0% 40%;
    width: 100%;
    display: flex;
    flex-direction: row!important;
    justify-content: center;
    align-items: flex-start;
    margin: 0;

    .swiper-pagination-bullet {
        background:white;
        opacity: 50%;

        &-active {
            background: white;
            opacity: 100%;
        }
    }

    .pagination-heros {
        position: absolute;
        top: 85%;
    }


    .swiper-button-next, .swiper-button-prev {
        color:white;
        opacity: 60%;
        padding: 2%;
    }

    &__swiper {
        position: relative;
        height: 100vh;
        width: 100%;

        &--wrapper {
            height: 100%;
        }
    }

    &__slide {
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin-right: 0;
    }

    &__description {
        width: 50%;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0% 7%;     
        
        &__title {
            @include h2;
            color: white;
        }

        &__button {
            position: relative;
            width: 100%;
            margin: 5% 0%;
            display: flex;
            justify-content: flex-start;

            button {
                @include h2;                
                @include buttons;
                font-size: 25px;   
                background-color: variables.$primary;
                color: white;             
                padding: 30px 60px;
                box-shadow: -2px 10px 30px rgba(50, 50, 50, 0.3) ;

                &:hover {
                    transform: scale(1.1);
                    transition: 0.25s ease;
                }
            }
        }
    }

    &__image {
        width:50%; 
        position: relative;
        display: flex;
        justify-content:center;
        align-items: center;
        max-width: 800px;

        img {
            position: relative;
            display: flex;
            justify-self: center;
            width: 90%;
            max-width: 550px;
        }        
    }
}

.services {
    position: relative;
    width: 100%;
    height: 900px;//////
    z-index: 3;
    color: black;
    margin-top: -27%;
    text-align: center;

    &__vague {

        width: 100%;
    
        &__path {
            fill: url(#img);
        }
    }

    &__contenu {
        background-image: url(images/texture-grain.png);
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        position: relative;
    }
}

.temoignages {
    position: relative;
    width: 100%;
    height: 900px;//////
    background-color: white;
    z-index: 3;
    color: black;
    text-align: center;
}

.nouvelles {
    position: relative;
    width: 100%;
    height: 900px;//////
    background-color: white;
    z-index: 3;
    color: black;
}

.donation {
    position: relative;
    width: 100%;
    height: 900px;//////
    background-color: blue;
    z-index: 3;
    color: black;
}



// FOOTER 

.pied-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 800px;//////
    z-index: 3;
    background-image: url('images/degrade-footer.png');
    background-size: 100% 140%;  //media QUERY
    background-position: 50% 100%; //media QUERY
    padding: 0% 8%;

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1900px;
        height: 100%;
    }

    &__gauche {
        align-items: flex-start;
        justify-content: center;
        position: relative;
        display: flex;
        width: 50%;
        height: 100%;
        flex-direction: column;
        font-size: 25px;
        font-family: variables.$text-font;
    }

    &__droit {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        justify-self: flex-end;
        width: 50%;
        height: 100%;
        flex-direction: column;
    }

    &__coordonnes {
        display: flex;
        flex-direction: column;
        //background-color: purple;
        font-family: variables.$text-font;
        font-size: 18px;
        width: 400px;

        img {
            position: relative;
            height: 45px;
            margin-right: 20px;
        }
        
        p {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        a:hover {
            color: inherit;
            transform: scale(0.95);
            transition: 0.3s;
        }
    }

    &__partenaires {
        position: relative;
        width: 100%;
    }

    &__swiper {
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        position: relative;
        width: 95%;
        height: 170px;

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-button-next, .swiper-button-prev {
            filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5));
            -webkit-filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5));
        }

        img {
            margin: 0;
            height: 100px;
        }
          
    }

    &__reseaux {
        //background-color: black;
        margin-top: 30px;
        position: relative;
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-self: center;
        align-self: center;

        img {
            position: relative;
            height: 45px;
            width: auto;
            display: flex;
            margin-right: 0;
        }
    }

    &__milieu {
        position: relative;
        width: 100%;
        height: 5%;
        display: flex;
        color: white;
        font-size: 15px;
        font-family: variables.$text-font;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1%;
        margin-top: 4%;
    }

    &__logo {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        height: 300px;

        img {
            position: relative;
            height: 100%;
        }
    }

    &__desc {
        position: relative;
        height: 10%;
    }

    &__btnDon {
        margin-top: 30px;
        @include buttons;
        @include h2;
        padding: 15px 70px;
        background-color: white;
        color: variables.$primary;
        
    }
}