@use "partials/heros";
@use "partials/variables";
@use 'partials/menu';

@mixin h1 {
    font-family: variables.$title-font;
    font-weight: 900;
    font-size: 42px;
}
@mixin h2 {
    font-family: variables.$title-font;  
    font-weight: 700;  
    font-size: 30px;
}
@mixin h3 {
    font-family: variables.$title-font; 
    font-weight: 400;
    font-size: 18px;   
}

$min-mobile : 375px; 
$min-tablet:768px;
$min-computer: 1200px;


body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: variables.$primary;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 100%;
    height: 200px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: variables.$text-font;

    &__logo {
        margin: 0px 50px;
        position: relative;
        display: flex;
        height: 65%;
        z-index: 3;

        img {
            height: 100%;
        }
    }

    &__options {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 70px;
        z-index: 3;  
        
        &__nouvelles {
        @include menu.options;
        }
        &__services {
        @include menu.options;
        }

        &__equipe {
            @include menu.options;
        }

        &__a_propos {
            @include menu.options;
        }
        
        &__histoire {
            @include menu.options;
        }
    }

    

    &__don {

        width: 200px;
        display: flex;
        justify-content: center;
        margin: 0px 40px;

        button {
            @include h3;
            padding: 10px 70px;
            font-size: 20px;
            border-radius: 50px;
            border-style: none;
            background-color: variables.$primary;
            color: white;
            box-shadow: -2px 5px 10px #afafaf ;
        }

        &:hover {
            transform: scale(1.1);
            transition: 0.25s ease;
        }
    }

    &__lang {
        @include h2;
        width: 50px;
        margin: 0px 50px;
        color: variables.$primary;
        text-align: center;
    }

    // MEDIA QUERY DU HEROS 
    @media screen and(min-width: $min-mobile) {
        background-color: red;
    }
    @media screen and(min-width: $min-tablet) {
        background-color: orange;        
    }
    @media screen and(min-width: $min-computer) {
        background-color: black;        
    }

}





.heros {
    @include heros.heros_generique;
    position: relative;
    background-image: url('images/degrade.png');
    background-size: cover;
}

