@use "partials/heros";

body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
    font-size: 20px;
    background-image: url('images/clowns.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* .temp {
    font-family: 'Gill Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: orangered;
} 

a {
    color: white;
    font-size: 30px;
}

.tiny, .tiny a {
    font-size: 12px;
    text-align: left;
    margin-top: 20%;
}*/

.menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: yellow;
    width: 100%;
    height: 200px;
    z-index: 2;

}

.accueil__heros {
    @include heros.heros_generique;
    position: relative;
}